<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <button ion-button [routerLink]="['/login']" class="btn">
        Regresar 
      </button>
    </ion-buttons>
    <ion-title class="sts">register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="name@example.com"  required="required" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [type]="passwordType" labelPlacement="floating" placeholder="xxxxxx" formControlName="password" required="required" 
        ></ion-input>
      <ion-icon name="eye" [color]="passwordShown=== true ? 'dark' : 'gray' " item-end
        (click)="tooglePassword()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input label="Name" labelPlacement="floating" placeholder="Nombre" [clearInput]= "true"  required="required"  formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Last Name" labelPlacement="floating" placeholder="Apellido"   [clearInput]= "true"  required="required" formControlName="last_name"></ion-input>
    </ion-item>

    
<ion-button
type="submit"

(click)="!registerForm.valid">
  Registrarse
</ion-button>

</form>
</ion-content>


