ion-content.background{
    --background: url(../../assets/imagenes/vall2.jpg) no-repeat;
    background-size:cover;

}
.sts{
    text-align: right;

}

.btn{
background-color: cadetblue;
color: white;
padding: 10px 20px 10px 20px;
border-radius: 7px;
font-size: 15px;
}


dis12{
    padding: 40px;
}